<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Evaluate News With NLP</title>
</head>

<body>

    <header>
        <h1 class="app-title">
            🤖 Sentiment Analysis with a Simple Link!
        </h1>
    </header>

    <main>
        <section>
            <form class="form" onsubmit="return handleSubmit(event)">
                <input class="form-url" id="url" type="text" value="" placeholder="Input news URL here:"></input>
                <input class="form-submit" type="submit" id="submit" value="Analyze"
                    onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)"></input>
            </form>
        </section>


        <section>
            
            <!-- <p>Please <a href="https://www.meaningcloud.com/developer/sentiment-analysis/doc/2.1/examples">click here</a>for the meanings of the indicators below</p> -->
            <div class="evaluation" id="results">
                
            </div>
        </section>
    </main>

    <footer>
    </footer>

</body>
<script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
    }
</script>

</html>