header {
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 10px 40px;

    h1 {
        
        font: 36px bolder serif;
        margin:2rem auto;
        color:gray;
    }
}
