strong {
    font: 36px bolder serif;
    margin:2rem auto;
    color:white;
}

.evaluation {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    
    table {
        margin:2rem 0;
        caption {
            color: white;
            font-size:x-large;
            margin:.2rem;
        }

        thead {
            background-color: gray;
        }
    }
  
  
    .evaluation-summary {
        display:table;
        width:100%;
        background-color: orange;
    }

    .evaluation-details {
        width:100%;
        background-color: white;
        .evaluation-ledger {
            border: 1px solid gray;
            padding: 0.2rem 0;
        }

    }

}